body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}

.specialHeader {
  margin: 0px 0px 0px 450px;
  display: flex;
}

.component-border {
  border: solid;
  padding: 5px;
  margin: 10px;
}

#root,
#root main {
  height: 100%;
}

.itemPhoto {
  height: 200px;
  width: 200px;
}

.profilePhoto {
  margin: 0px 0px 0px 13%;
  height: 200px;
  width: 200px;
  padding: 1.3%;
  display: flex;
}

.profilePhoto2 {
  margin: 0px 0px 0px 0%;
  height: auto;
  width: 200px;
  padding: 1.3%;
  display: block;
}

.profileHeader {
  display: flex;
}

.infoPanel {
  height: 100px;
  width: 100%;
  margin: 0px 250px 50px 250px;
  padding: 25px 25px;
}

.infoPanelCon {
  width: 50%;
  padding: 1%;
}
.infoPanelCon2 {
  padding: 1%;
}
.infoPanelabout {
  text-align: center;
  width: 24.8%;
  padding-left: .9%;
}

.tabStyle {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0% 13% 0 13%;
  padding: 25px 25px;
  height: 50%;
  max-height: 80%;
  border-radius: 0 0 5px 5px;
}

.listingAndFeedTab {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 0 0 5px 5px;
  margin: 0% 13% 0 13%;
  padding: 25px 25px;
  height: 600px;
  overflow: scroll;
  margin-bottom: 1rem;
}

.aboutnames {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(63, 74, 85, 0.411);
  margin: 0% 0% 0 0%;
  padding: 5px 5px;
  height: 340px;
  max-height: 1000px;
}

.tabStyleEdit {
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 0% 13% 1% 13%;
  padding: 25px 25px;
  height: 820px;
  max-height: 2000px;
  border-radius: 0 0 5px 5px;
}

.tabsStyle {
  margin: 1% 13% 0 13%;
  border-radius: 5px 5px 0px 0px;
  background-color: #434c55;
}

.cardStyle {
  margin: 10px;
  width: 300px;
  height: 350px;
}

.listing-card {
  margin: 0.5rem 1.5rem;
  width: 100%;
  height: 200px;
}

.listing-photo {
  height: 160px;
  width: 100%;
  justify-content: center;
  padding-right: 1.25rem;
}

.listing-info {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  justify-content: space-between;
  width: 50%;
  height: 130px;
}

.reviewCardStyle {
  margin: 10px;
  width: 1300px;
  height: 100px;
  max-height: 200px;
}

.formStyle {
  max-width: 500px;
  margin: 2rem auto;
}

#submitButton {
  width: auto;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-page {
  background-color: #0098ff;
  display: flex;
  height: 100%;
}
.search-list {
  background-color: #0098ff;
  width: 75%;
}
.profile-photo {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  height: min-content;
  border-radius: 25px;
  background-color: rgba(27, 27, 27, 0.377);
}

.vert {
  vertical-align: top;
  width: 72%;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.profile-photo2 {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0rem;
  height: auto;
  border-radius: 25px;
  background-color: rgba(65, 72, 87, 0);
}
.search-filter {
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  width: 25%;
  height: min-content;
  border-radius: 25px;
  background-color: white;
}

.profile-info {
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  width: 72%;
  height: min-content;
  border-radius: 25px;
  background-color: rgb(198, 220, 245);
}

.profile-info2 {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  height: min-content;
  border-radius: 15px;
  background-color: rgb(198, 220, 245);
}

.profile-info3 {
  margin: 0rem 1rem 0rem 1rem;
  padding: 1rem;
  height: min-content;
  border-radius: 15px;
  background-color: rgb(198, 220, 245);
}

.filter-div {
  border-radius: 25px;
  border: 2px solid;
  border-color: #0098ff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contractor-card {
  margin: 10px;
  width: 300px;
}

.skill-pill {
  margin: 0px 1px;
}

.contractor-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contractor-search-image {
  width: 75px;
  height: 75px;
  border: solid;
  border-radius: 50%;
}

.rating-display {
  background-color: white;
  border: 1px solid;
  margin-top: 0.2em;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 5rem;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.filter-message {
  background-color: white;
  margin-top: 1rem;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 5rem;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.contractor-search-basicinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.flex-list .component-border {
  width: 45%;
}

/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box-header,
.box-footer {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box-body {
  flex: 1 1 auto;
}

.sign-button {
  margin: 3px 3px;
}

.listing-modal {
  background-color: white;
  width: auto;
  margin: 0% 13% 0% 13%;
  padding: 25px;
  text-align: center;
  border-bottom: solid 1px;
  border-color: #0098ff;
}

.feedModal {
  display: flex;
  width: auto;
  background-color: white;
  margin: 0 13% 1% 13%;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

.screen {
  background-color: #0098ff;
  height: 100%;
}

.homepage-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.homepage-img-transform{   
  top: 50%;
  transform: translateY(-50%);
}

.homepage-main-text {
  position: absolute;
  top: 75px;
  width: 100%;
  color: #FFF;
  background-color: rgba(0,152,255, .7);
  border-radius: 5rem;
  display: inline-block;
  padding: .25em .4em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
}

.react-toast-notifications__container {
  z-index: 200000 !important;
  /* transform: scale(1.5) !important; */
  margin: 1% 0%;
}

.listing-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
