body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

.specialHeader {
  margin: 0px 0px 0px 450px;
  display: flex;
}

.component-border{
  border: solid;
  padding: 5px;
  margin: 10px;
}

#root, #root main{
  height: 100%;
}

.itemPhoto {
  height: 200px;
  width: 200px;
}

.profilePhoto {
  margin: 0px 0px 0px 13%;
  height: 200px;
  width: 200px;
  padding: 1.3%;
  display: flex;
}

.profilePhoto2 {
  margin: 0px 0px 0px 0%;
  height: 200px;
  width: 200px;
  padding: 1.3%;
  display: flex;
}

.profileHeader {
  display: flex;
}

.infoPanel {
  height: 100px;
  width: 100%;
  margin: 0px 250px 50px 250px;
  padding: 25px 25px;
}

.infoPanelCon {
  width: 50%;
  padding: 1%;
}

.tabStyle {
  display: flex;
  flex-wrap: wrap; 
  background-color:white;
  margin: 0% 13% 0 13%;
  padding: 25px 25px;
  height: 50%;
  max-height: 80%;
  border-radius: 0 0 5px 5px;
}

.listingAndFeedTab {
  display: flex;
  flex-wrap: wrap; 
  background-color:white;
  margin: 0% 13% 0 13%;
  padding: 25px 25px;
  height: 600px;
  max-height: 1000px;
}

.tabStyleEdit {
  flex-wrap: wrap; 
  justify-content: center;
  background-color:white;
  margin: 0% 13% 1% 13%;
  padding: 25px 25px;
  height: 820px;
  max-height: 2000px;
  border-radius: 0 0 5px 5px;
}

.tabsStyle {
  margin: 1% 13% 0 13%;
  border-radius: 5px 5px 0px 0px;
  background-color: #434c55;
}

.cardStyle {
	margin: 10px;
  width: 300px;
  height: 350px;
}

.reviewCardStyle {
  margin: 10px;
  width: 1300px;
  height: 100px;
  max-height: 200px;
}

.formStyle {
  max-width: 500px;
  margin: 2rem auto;
}

#submitButton{
  width: auto;
}

.flex-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.search-page{
  background-color: #0098ff;
  display: flex;
  height: 100%;
}
.search-list {
  background-color: #0098ff;
  width: 75%;
}
.profile-photo {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  height: min-content;
  border-radius: 25px;
  background-color: rgba(27, 27, 27, 0.377);
}
.search-filter {
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  width: 25%;
  height: min-content;
  border-radius: 25px;
  background-color: white;
}

.profile-info {
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  width: 62.5%;
  height: min-content;
  border-radius: 25px;
  background-color: rgb(198, 220, 245);
}

.filter-div {
  border-radius: 25px;
  border: 2px solid;
  border-color:  #0098ff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contractor-card {
	margin: 10px;
  width: 300px;
}

.skill-pill {
  margin: 0px 1px;
}

.contractor-card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contractor-search-image {
  width: 75px;
  height: 75px;
  border: solid;
  border-radius: 50%;
}

.contractor-search-basicinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.flex-list .component-border {
  width: 45%;
}

/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}


.box-header, .box-footer {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box-body{
  flex: 1 1 auto;
}

.sign-button{
  margin: 3px 3px;
}

.listingModal {
  display: flex;
  width: auto;
  background-color: white;
  margin: 0% 13% 1% 13%;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

.feedModal {
  display: flex;
  width: auto;
  background-color: white;
  margin: 0 13% 1% 13%;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

.screen {
  background-color: #0098ff;
  height: 100%;
}





